<a href="https://colab.research.google.com/github/Tsyhankova/goit_python/blob/main/Hw2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Часть вторая: Анализ файлов**

Проведите анализ файла 2017_jun_final.csv. Файл содержит результаты опроса разработчиков в июне 2017 года.

In [36]:
import pandas as pd

Прочитайте файл 2017_jun_final.csv с помощью метода read_csv

In [37]:
url = 'https://drive.google.com/file/d/1N9olzaYSJA9QqO8Dfx1LLl14l2TU-5kV/view?usp=sharing'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
jun_final = pd.read_csv(path)

print(jun_final)

         N                 Должность Язык.программирования  ... salary Валюта  cls
0        1        Junior QA engineer                   NaN  ...    400    NaN   QA
1        2        Junior QA engineer                   NaN  ...    430    NaN   QA
2        3         Software Engineer               C#/.NET  ...   2500    NaN  DEV
3        4         Software Engineer            JavaScript  ...   2000    NaN  DEV
4        5  Senior Software Engineer            JavaScript  ...   4500    NaN  DEV
...    ...                       ...                   ...  ...    ...    ...  ...
8699  8700               QA engineer                   NaN  ...    700    NaN   QA
8700  8701                 Marketing                   NaN  ...    400    NaN  NaN
8701  8702  Junior Software Engineer            Ruby/Rails  ...    800    NaN  DEV
8702  8703                 Team lead                   NaN  ...   2600    NaN   PM
8703  8704  Senior Software Engineer                  Java  ...   5000    NaN  DEV

[8704 rows x 25 columns]

Прочитайте полученную таблицу используя метод head

In [38]:
jun_final.head()

   N                 Должность Язык.программирования  ... salary Валюта  cls
0  1        Junior QA engineer                   NaN  ...    400    NaN   QA
1  2        Junior QA engineer                   NaN  ...    430    NaN   QA
2  3         Software Engineer               C#/.NET  ...   2500    NaN  DEV
3  4         Software Engineer            JavaScript  ...   2000    NaN  DEV
4  5  Senior Software Engineer            JavaScript  ...   4500    NaN  DEV

[5 rows x 25 columns]

Определите размер таблицы с помощью метода shape

In [39]:
jun_final.shape

(8704, 25)

Определите типы всех столбцов с помощью dataframe.dtypes

In [40]:
jun_final.dtypes

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

Посчитайте, какая доля пропусков содержится в каждой колонке (используйте методы isnull и sum)

In [41]:
jun_final.isnull().sum(axis = 0, skipna = True)

N                                      0
Должность                              0
Язык.программирования               3850
Специализация                       7219
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Университет                          358
Еще.студент                            0
Уровень.английского                    0
Предметная.область                   223
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

Удалите все столбцы с пропусками, кроме столбца "Язык.программирования"

In [42]:
jun_final = jun_final.drop(["cls", "Валюта", "Предметная.область", "Университет", "Специализация"], axis=1)
jun_final.isnull().sum(axis = 0, skipna = True)

N                                      0
Должность                              0
Язык.программирования               3850
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Еще.студент                            0
Уровень.английского                    0
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
dtype: int64

Удалите все строки в исходной таблице с помощью метода dropna

In [43]:
jun_final = jun_final.dropna()

Определите новый размер таблицы с помощью метода shape

In [44]:
jun_final.shape

(4854, 20)

Создайте новую таблицу python_data в которой будут только строки со специалистами указавшими язык программирования Python

In [45]:
python_data = jun_final[jun_final['Язык.программирования'] == 'Python']
python_data.head()

       N                 Должность  ... current_job_exp salary
12    13         Software Engineer  ...             0.0    800
68    69         Software Engineer  ...             0.5    900
87    88  Junior Software Engineer  ...             0.5    600
114  115  Junior Software Engineer  ...             0.5    685
143  144  Junior Software Engineer  ...             1.0    750

[5 rows x 20 columns]

Определите размер таблицы python_data с помощью метода shape

In [46]:
python_data.shape

(207, 20)

Используя метод groupby выполните группировку по столбцу "Должность"

In [49]:
group_by_position = python_data.groupby("Должность")
group_by_position.first()

                             N Язык.программирования  ... current_job_exp salary
Должность                                             ...
Junior Software Engineer    88                Python  ...            0.50    600
Senior Software Engineer   303                Python  ...            0.50   3500
Software Engineer           13                Python  ...            0.00    800
System Architect          5749                Python  ...            0.25   3000
Technical Lead            2633                Python  ...            1.50   3500

[5 rows x 19 columns]

Создайте новый DataFrame, где для сгруппированных данных по столбцу "Должность", выполните агрегацию данных с помощью метода agg и найдите минимальное и максимальное значение в столбце "Зарплата.в.месяц"

In [79]:
import numpy as np


group_by_position.agg({'Зарплата.в.месяц' : 'min', 'Зарплата.в.месяц' : 'max'})

salary1 = group_by_position.agg({'Зарплата.в.месяц' : 'max'})
salary1 = salary1.rename({"Зарплата.в.месяц" : "max_salary"}, axis=1)
salary2 = group_by_position.agg({'Зарплата.в.месяц' : 'min'})
salary2 = salary2.rename({"Зарплата.в.месяц" : "min_salary"}, axis=1)
salary = pd.concat([salary1, salary2], axis=1)
salary

                          max_salary  min_salary
Должность
Junior Software Engineer        1250         100
Senior Software Engineer        9200        1300
Software Engineer               5400         500
System Architect                5000        3000
Technical Lead                  6200        1425

Создайте функцию fill_avg_salary которая будет возвращать среднее значение заработной платы в месяц. Используйте ее для метода apply и создайте новый столбик "avg"

In [103]:
salary_mean = salary.apply(np.mean, axis=1) 
salary["avg_salary"] = [s for s in salary_mean]
salary

                          max_salary  min_salary  avg_salary
Должность
Junior Software Engineer        1250         100       675.0
Senior Software Engineer        9200        1300      5250.0
Software Engineer               5400         500      2950.0
System Architect                5000        3000      4000.0
Technical Lead                  6200        1425      3812.5

Создайте описательную статистику с помощью метода describe для нового столбца.

In [104]:
salary['avg_salary'].describe()

count       5.000000
mean     3337.500000
std      1700.091909
min       675.000000
25%      2950.000000
50%      3812.500000
75%      4000.000000
max      5250.000000
Name: avg_salary, dtype: float64

Сохраните полученную таблицу в CSV файл

In [105]:
salary.to_csv('salary_python_jun_final.csv')